<form action="/config" method="POST">
    <input name="comando" type="text" placeholder="comando aqui!">
    <button type="submit">mySQL</button>
</form>

<a href="/mostrar">Ver tudo</a>
</br>
<a href="/info">Ver comandos</a>